<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>Please enter your name and pick the Sectors you are currently involved in.</div>
  <br>
  <div class="form-group">
    <label for="name">Name: *</label>
    <input formControlName="name" type="text" id="name" class="form-control" [ngClass]="{'is-invalid': form.controls['name'].invalid && form.controls['name'].touched}" >
  </div>
  <br>


  <label for="scroll-box">Sectors: *</label>
  <div class="scroll-box form-control" id="scroll-box" [ngClass]="{'is-invalid': form.controls['sectors'].invalid && form.controls['sectors'].touched}">
    <div *ngFor="let sector of sectors; let i = index" class="sector">
      <label class="form-check-label">
        <input (change)="addOrRemoveSectorsForm(sector.id, $event)" class="form-check-input" type="checkbox"> {{sector.name}}
      </label>
      <div *ngIf="sector.children && sector.children.length > 0">
        <div *ngFor="let sector1 of sector.children; let i = index" class="sector">
          <label class="form-check-label" style="margin-left: 15px">
            <input class="form-check-input" type="checkbox" (change)="addOrRemoveSectorsForm(sector1.id, $event)"> {{sector1.name}}
          </label>
          <div *ngIf="sector1.children && sector1.children.length > 0">
            <div *ngFor="let sector2 of sector1.children; let i = index" class="sector">
              <label class="form-check-label" style="margin-left: 30px">
                <input class="form-check-input" type="checkbox" (change)="addOrRemoveSectorsForm(sector2.id, $event)"> {{sector2.name}}
              </label>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="checkbox" formControlName="checkbox"
           [ngClass]="{'is-invalid': form.controls['checkbox'].invalid && form.controls['checkbox'].touched}">
    <label class="form-check-label" for="checkbox">Agree to terms *</label>
  </div>

  <br>
  <br>
  <input type="submit" class="btn btn-success" value="Save">
</form>
<app-ui-messages></app-ui-messages>
